<% layout("/layouts/boilerplate") %>

<h2>All Habits</h2>
<div>
    <a href="/habits/new">New Habit</a>
</div>
<div class="list__habits">
    <% for(let habit of habits) { %>
        <li class="list__habits__item">
            <a href="/habits/<%= habit.id %>"><%= habit.name %> - <%= habit.description %></a>
        </li>
    <% } %>
</div>